<!DOCTYPE html>
<html lang="en"  xmlns:th="http://thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Профиль</title>
        <link href="/CSS/table-format.css" type="text/css" rel="stylesheet"/>
        <link href="/CSS/main-body.css" type="text/css" rel="stylesheet"/>
    </head>
    <body>
        <table align="center" bgcolor="#ffffff" border="3">
            <tr>
                <td>Фамилия</td>
                <td>[[${view.getSecondName()}]]</td>
            </tr>
            <tr>
                <td>Имя</td>
                <td>[[${view.getFirstName()}]]</td>
            </tr>
            <tr>
                <td>Отчество</td>
                <td>[[${view.getMiddleName()}]]</td>
            </tr>
            <tr>
                <td>Статус</td>
                <td>[[${view.getRoleName()}]]</td>
            </tr>
            <tr>
                <td>Логин</td>
                <td>[[${view.getName()}]]</td>
            </tr>
            <tr>
                <td>Пароль</td>
                <td>[[${view.getUserpassword()}]]</td>
            </tr>
        </table>
    </body>
</html>